@model TaskProject.Models.TaskListModel
@{
    ViewData["Title"] = "List";
}
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Date
                </th>
                <th>
                    Initial Hour
                </th>
                <th>
                    Final Hour
                </th>
                <th>
                    Priority
                </th>
                <th>
                    Ended
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.TaskList.Count(); i++)
            {
                <tr>
                    @Html.HiddenFor(m => Model.TaskList[i].Id)

                    <td>
                        @Html.DisplayFor(modelItem => Model.TaskList[i].Title)
                        @Html.HiddenFor(m => Model.TaskList[i].Title)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.TaskList[i].Description)
                        @Html.HiddenFor(m => Model.TaskList[i].Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.TaskList[i].Date)
                        @Html.HiddenFor(m => Model.TaskList[i].Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.TaskList[i].InitialHour)
                        @Html.HiddenFor(m => Model.TaskList[i].InitialHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.TaskList[i].FinalHour)
                        @Html.HiddenFor(m => Model.TaskList[i].FinalHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.TaskList[i].PriorityName)
                        @Html.HiddenFor(m => Model.TaskList[i].PriorityName)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.TaskList[i].Ended)
                        @Html.HiddenFor(m => Model.TaskList[i].Ended)
                    </td>



                    <td>
                        <a asp-action="Edit" asp-route-id="@Model.TaskList[i].Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @*<div class="form-group">
        <div class=" col-md-10">

            <input type="submit" value="Generate Report" class="btn btn-primary" />
        </div>
    </div>*@
}