@model TaskProject.Models.SearchTaskModel
@{
    ViewData["Title"] = "List of hours per day";
}
<h1>@ViewData["Title"]</h1>




    @Html.LabelFor(model => model.InitialDate, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-5">
        @Html.EditorFor(model => model.InitialDate, new { htmlAttributes = new { @class = "form-control" } })

    </div>

    @Html.LabelFor(model => model.FinalDate, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-5">
        @Html.EditorFor(model => model.FinalDate, new { htmlAttributes = new { @class = "form-control" } })

    </div>

    <br />

    <div class="form-group">
        <div class="col-md-2 col-lg-offset-2">
            <button type="button" id="btnFindTasks" class="btn btn-primary">
                Search
            </button>
        </div>
    </div>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Total hours
            </th>
            <th>
                Total tasks
            </th>
            <th>
               Average hours
            </th>
           
            <th>
                Percentual of concluded tasks
            </th>
        </tr>
    </thead>
    <tbody id="TableTasks">
        @foreach (var item in Model.ListTasksSummarized)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalTasks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AverageHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PercentualConcludedTasks)
                </td>              

                
            </tr>
        }
    </tbody>
</table>

